.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    right: 0;
    transform: translateX(100%);
    transition: all 0.2s;
}
.menu.active {
    transform: translateX(0);
}
.blur {
    width: 100vw;
    height: 100vh;
    left: 50%;
    backdrop-filter: blur(2px);
    position: absolute;
}
.menuContent {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    background-color: #000000;
}
.menuContent ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}
.menuContent ul li a:hover {
    color: #bdae82;
}
.menuContent ul {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.menuContent ul li {
    display: flex;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .menuContent {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}