* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./Fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('./Fonts/Merriweather-Regular.ttf') format('ttf');
}

body {
  margin: 0 auto;
  background-color: #000000;
  font-family: 'Inter', 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
